@font-face {
    font-family: 'Pacifico regular';
    src: url('../fonts/Pacifico.ttf');
}

body {
    margin: 60px auto;
}

#main {
    width: 600px;
}

#header .logo {
    width: 100px;
    height: 50px;
    background-size: cover;
    background-image: url('../img/logo.png');
}

#header .name {
    font-family: 'Pacifico regular';
    font-size: 44px;
}

#header .name sup {
    color: #3c65c1;
}

#ships_counter, .map-titles {
    margin-top: 40px;
}

.map-titles {
    font-weight: 700;
    text-transform: uppercase;
}

.map-titles > div {
    position: relative;
}

.map-titles .player {
    left: -21px;
}

.map-titles .opponent {
    left: 21px;
}


#ships_counter > div, #maps .map, .logo {
    margin-right: 30px;
}

#maps .map:last-of-type {
    margin: 0;
}

#ships_counter > div, #ships_counter > div > div, #maps .map, #header > div {
    display: inline-block;
    vertical-align: top;
}

#ships_counter .counter {
    font-weight: 700;
    line-height: 25px;
    font-size: 21px;
}

.rectangle {
    float: left;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid black;
    font-family: 'Glyphicons Halflings';
}

.map.ranking .rectangle.active {
    background: #3c65c1;
}

.map.ranking .rectangle.filled {
    background: #3c65c1;
}

.map.ranking .rectangle.unavailable {
    background: #c13938;
}

.map.playing .rectangle:after {
    font-size: 20px;
    position: relative;
    top: -2px;
    left: 2px
}

.map.playing .rectangle.filled.has_shoot:after,.map.ranking .rectangle.filled.has_shoot:after {
    color: #c13938;
    content: "\e014";
}

.map.playing .rectangle.has_shoot:after,.map.ranking .rectangle.has_shoot:after {
    content: "\e090";
    font-size: 20px;
}

.map.playing.player .rectangle.filled {
    background: #3c65c1;
}

/*.map.player .rectangle.active, .map.player .rectangle.busy {
    background: #3c65c1;
}

.map .rectangle.busy.active, .map .rectangle.active.unavailable {
    background: #c13938;
}*/

#ships_counter .rectangle {
    border: 1px solid white;
    margin-right: 2px;
    background-color: #000;
}

#ships_counter .ship-type.disabled .rectangle {
    background-color: #ccc;
}

#ships_counter .ship-type.active {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}


#footer {
    padding: 40px 0;
    margin: 40px 0;
    height: 13px;
    width: 540px;
    background: url('../img/shape.png') repeat-x;
}

#footer .title {
    font-family: 'Pacifico regular';
    font-size: 16px;
    color: #3c65c1;
    padding: 25px 0;
}

#footer .text {
    max-height: 200px;
    overflow-y: auto;
}

.ship-type {
    cursor: pointer;
}

.ship-type.disabled {
    cursor: default;
}

#ships_counter .ship-type.active .rectangle {
    background: #3c65c1;
}

#messages > div {
    padding: 20px;
    margin: 20px 0;
    border-width: 1px;
    border-style: solid;
    border-left-width: 5px;
    border-radius: 3px;
}

#messages > div.info {
    border-left-color: #3c65c1;
}

#messages > div.danger {
    border-left-color: #c13938;
}

#sfx-muted{
    position: absolute;
    width:40px;
    left:0;
    top:48%;
}

#sfx-muted.disabled{
    color:#87918e;
    background-color: rgba(161, 173, 169, 0.28);
    border-color: #87918e;
}