<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sea battle</title>
  <link href=css/bootstrap.min.css rel=stylesheet>
  <link href=css/game.css rel=stylesheet>
</head>
<body>
<div class="container">
  <div class="col-md-offset-1 col-md-6">
    <div class="row">
      <div id="header">
        <div class="logo"></div>
        <div class="name">Sea Battle<sup> v1.0</sup></div>
      </div>
    </div>
    <div class="row" id="ships_counter">
      <div data-type="4" class="ship-type">
        <div class="counter">
          1
        </div>
        <div class="decks">
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
        </div>

      </div>
      <div data-type="3" class="ship-type">
        <div class="counter">
          2
        </div>
        <div class="decks">
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="rectangle"></div>
        </div>
      </div>
      <div data-type="2" class="ship-type">
        <div class="counter">
          3
        </div>
        <div class="decks">
          <div class="rectangle"></div>
          <div class="rectangle"></div>
        </div>
      </div>
      <div data-type="1" class="ship-type">
        <div class="counter">
          4
        </div>
        <div class="decks">
          <div class="rectangle"></div>
        </div>
      </div>
    </div>
    <div class="map-titles row">
      <div class="opponent pull-left">Opponent</div>
      <div class="player pull-right">Player</div>
    </div>
    <div id="maps">
      <div class="map opponent"></div>
      <div class="map player"></div>
    </div>
    <div id="footer">
    </div>
  </div>
  <div class="col-md-4 well" id="messages">
    <div class="info">
      <h4>Пожалуйста расставьте корабли</h4>
      <p>Выбирая нужный тип корабля, необходимо последовательно произвести расстановку каждого из них. Клетки
        выбираются с помощью курсора мыши. Доступные клетки подсвечиваются синим цветом. Поддерживается варианты
        расстановки кораблей по тетрисной стратегии.
        Для отмены выбора нажмите клавишу <kbd>esc</kbd></p>
    </div>
  </div>
</div>
<div id="sfx-muted" class="glyphicon glyphicon-equalizer form-control btn-warning"></div>
<script src=js/jquery-2.2.1.min.js></script>
<script src=js/helper.js></script>
<script src=js/strategy.js></script>
<script src=js/game.js></script>
<audio id="sfx-bang" src="/sfx/bang.mp3"></audio>
</body>
</html>